<!DOCTYPE html>

<html>

  <head>
    <title>RESTful list</title>
  </head>

  <body>
      <h1>The four types of RESTful requests are:</h1>
      <ul>
        <li>POST - Creates data</li>
        <li>GET - Reads data</li>
        <li>PUT - Updates data</li>
        <li>DELETE - Deletes data</li>
      </ul>

  </body>

</html>
