<!DOCTYPE html>

<html>

  <head>
    <title>Hello, world</title>
  </head>

  <body>
    <h1>Select a user</h1>
    <ul>
      <li> <a href="/lindsay">Lindsay</a></li>
      <li> <a href="/andy">Andy</a></li>

    </ul>
  </body>

</html>
