<footer>
  <div class="container-fluid max-width" style="background-color:white;text-align:center;">
This blogging site was built with MongoDB, NodeJS, EJS and ExpressJS. Copyright Lindsay Carbonell 2016.
</div>
</footer>
