<nav class="navbar navbar-static-top admin-bar" style="background-color:black;opacity:.5;min-height:0px;height:30px;margin-bottom:0;">
  <div class="container-fluid" style="height:10px!important;">
      <ul class="nav navbar-nav nav-center" style="vertical-align:text-bottom;">
        <a class="navbar-brand" href="#" style="color:white;padding:2pt;padding-left:10pt;vertical-align:text-bottom;color:white;margin-right:3pt;">Admin</a>
        <a href="/new" style="font-size:10pt;padding:2pt;vertical-align:text-bottom;color:white;float:left;margin-top:1pt;"><i class="fa fa-pencil-square-o"></i> New Post</a>
        <a href="/" style="font-size:12pt;float:right;color:white;vertical-align:text-bottom;padding:2pt;"><i class="fa fa-home"></i></a>
      </ul>
  </div>
</nav>


<div id="main-container" class="container max-width">

    <div class="row">
      <div class="col-lg-5 col-sm-5 col-xs-4"></div>
      <div class="col-lg-2 col-sm-2 col-xs-1">
        <img src="../logo_fox.png"  style="width:80px;line-height:12pt;"/>
      </div>
      <div class="col-lg-5 col-sm-5 col-xs-5"></div>
    </div>

    <h3>Velvet Fox Interiors</h3>
    <!--https://dribbble.com/shots/1226383-Velvet-Fox-Logo-Concept-->

    <nav class="navbar" style="margin-top:24pt;">
      <div class="container-fluid">
          <ul class="nav navbar-nav nav-center">
            <li class="inline-block"><a href="/">Home</a></li>
            <li class="inline-block"><a href="#">About</a></li>
            <li class="inline-block"><a href="#">Our Work</a></li>
            <li class="inline-block"><a href="#">Shop</a></li>
          </ul>
      </div>
    </nav>
