<!DOCTYPE html>
<html>
<% include ../templates/header %>

<body>

  <% include ../templates/nav %>

        <!-- <h3 class="form-header"><i class="fa fa-pencil-square-o"></i> New Post</h3> -->

        <hr>

        <form action="/" method="POST">

          <div class="row form-row">
            <input class="form-control" type="text" id="title" name="title" value="Title" />
          </div>

          <div class="row form-row">
            <input class="form-control" type="text" id="author" name="author" value="Author" />
          </div>

          <div class="row form-row">
            <input class="form-control" type="text" id="content" name="content" value="content" />
          </div>

          <div class="row form-row">
            <input class="form-control" type="text" id="category" name="category" value="category" />
          </div>

          <div class="row form-row">
            <input class="form-control tokenfield" type="text" id="tags" name="tags" value="tags" />
          </div>

          <div class="row form-row">
            <input class="form-control" type="text" id="thumbnail" name="thumbnail" value="image url" />
          </div>

          <div class="row center-push-empty">
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-6 col-sm-6">
              <a href="/new"><button class="btn btn-large">Create Post</button></a>
            </div>
            <div class="col-lg-3 col-sm-3"></div>
            </div>
        </form>
</div><!--/#main-container-->
    </body>

    <script>
    $('.tokenfield').tokenfield()
    </script>
</html>
