<!DOCTYPE html>
<html>
<% include ../templates/header %>

<body>

    <div id="main-container" class="container max-width">

        <div class="row">
          <div class="col-lg-5 col-sm-5"></div>
          <div class="col-lg-2 col-sm-2">
            <img src="logo_fox.png"  style="width:80px;line-height:12pt;"/>
          </div>
          <div class="col-lg-5 col-sm-5"></div>
        </div>

        <h3>Velvet Fox Interiors</h3>
        <!--https://dribbble.com/shots/1226383-Velvet-Fox-Logo-Concept-->

        <nav class="navbar" style="margin-top:24pt;">
          <div class="container-fluid">
              <ul class="nav navbar-nav nav-center">
                <li class="inline-block"><a href="/">Home</a></li>
                <li class="inline-block"><a href="#">About</a></li>
                <li class="inline-block"><a href="#">Our Work</a></li>
                <li class="inline-block"><a href="#">Shop</a></li>
              </ul>
          </div>
        </nav>

        <h3>New Post</h3>

        <form action="/" method="POST">

            <p>
            <label>Title</label>
            <input type="text" id="title" name="title" value="" />
            </p>

            <p>
            <label>Author</label>
            <input type="text" id="author" name="author" value="" />
            </p>

            <p>
            <label>Category</label>
            <input type="text" id="category" name="category" value="" />
            </p>

            <p>
            <label>Tags</label>
            <input type="text" id="tags" name="tags" value="" />
            </p>

            <p>
            <label>Thumbnail</label>
            <input type="text" id="thumbnail" name="thumbnail" value="" />
            </p>

            <button>Create</button>

        </form>
</div><!--/#main-container-->
    </body>
</html>
