/*#EDC9A8 : peach
#FFFEFE : barely off white
#ECA87B : orange
#9D836F : brown
#AAAAAA : gray*/

@font-face {
    font-family: Timed;
    src: url('../fonts/timed.ttf');
}
@font-face {
    font-family: pt-sans;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}
@font-face {
    font-family: pt-sans;
    font-weight: bold;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}
@font-face {
    font-family: pt-sans;
    font-style: italic;
    src: url('../fonts/PT_Sans-Web-Italic.ttf');
}
/*@font-face {
    font-family: Euphorigenic;
    src: url('../fonts/euphorigenic.ttf');
}
@font-face {
    font-family: Oranienbaum;
    src: url('../fonts/oranienbaum.ttf');
}*/

body{
  background-color: #f7e9dc; /*barely peach*/
  font-family: pt-sans;
}

#main-container {
  background-color:#FFFEFE;
  min-height: 100vh;
  padding:24pt;
}

h3{
  text-align:center;
  font-family: Euphorigenic;
  font-size:48pt;
  line-height:24pt;
}

p{
  font-family:pt-sans;
  text-align:left;
  font-size:12pt;
  line-height:24pt;
}

a{
  color:#ECA87B;
}
a:hover{
  color:#EDC9A8;
  text-decoration: none;
}

textarea{
  height:100%!important;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

.btn.btn-large{
  color:#FFFEFE;
  font-size:18pt;
  background-color:#ECA87B;
}

.max-width{
  max-width:800px;
}

.center-push{
  margin-top:50px;
  text-align:center;
}

.center-push-empty{
  margin-top:50px;
  text-align:center;
}

.rmv-marg-left{
  margin-left:0;
}

.inline-block{
  display:inline-block!important;
}

.post-box{
  width:100%;
  text-align:center;
  margin-top:40px;
}

.thumb-box{
  overflow:hidden;
}

.post-thumb{
  display:inline-block;
  width:300px;
}

.meta-title{
  font-size:36pt;
  line-height:48pt;
  text-align:left;
  font-style:bold;
}

.inner-title{
  text-align:left;
  line-height:48pt;
  font-size:36pt;
  font-weight:bold;
}

.inner-content{
  font-size:10pt;

}

.slash{
  font-size:14.5pt;
}

.meta-author{
  font-size:10pt;
  text-align:left;
  text-transform:uppercase;
  line-height: 24pt;

}

.meta-author::before{
  content:'By ';
  text-transform: none;
}

.meta-content{
  font-size:12pt;
  line-height:24pt;
}

.meta-bottom{
  font-size:12pt;
  line-height:24pt;
  float:left;
  color:#AAAAAA;
}

.bottom-tagged{
  margin-left:5px;
}

.admin-bar{
  -webkit-box-shadow: 0px 4px 5px -2px rgba(26,26,26,1);
  -moz-box-shadow: 0px 4px 5px -2px rgba(26,26,26,1);
  box-shadow: 0px 4px 5px -2px rgba(26,26,26,1);
}

.form-header{
  font-family:pt-sans;
  font-size:36pt;
}

.form-row{
  margin-bottom:12pt;
  font-size:12pt;
  margin-left:20pt;
  margin-right:20pt;
}

.form-control{
  border-color:rgba(157, 131, 111, .5);

}

.form-control:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 201, 168, .6);
  border-color: #EDC9A8;
  /*font-size:150%;
  border-bottom:2px solid #ECA87B;
  border-top:0;
  border-right:0;
  border-left:0;
  border-radius:0;
  box-shadow:none;*/
}

.form-control[name = title]{
  font-size: 24pt;
  padding-bottom:-10px;
  height: 55pt;
  text-align: center;
  box-shadow:none;
  border-top:0;
  border-right:0;
  border-left:0;
  border-radius:0;
}

.form-control[name = content]{
   padding:15px 15px 200px 15px;
}

/*menu*/
.navbar-nav>li, .navbar-nav{
  float:none;
}
.navbar-nav>li>a{
  font-size:15pt;
  line-height:24pt;
  color: #000;
}
.nav-center{
  text-align:center;
  float:none;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration:none;
  background-color:transparent;
}
.nav>li>a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ECA87B;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav>li>a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

@media (max-width: 600px){
  .form-control[name = title]{
      font-size:12pt;
    }
}
